# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyd
*.db
*.log
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
staticfiles/
.env

# Virtual Environment
venv/
env/
ENV/
.venv/
.venv/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp

# System Files
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
