container_commands:
  01_install_requirements:
    command: "pip install -r requirements.txt"
  02_makemigrations:
    command: "python manage.py makemigrations"
  03_migrate:
    command: "python manage.py migrate"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: my_book_be.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: my_book_be.settings